/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#helloButton {
	-fx-font-size: 20px;
	-fx-background-color: dodgerblue;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.root {
	-fx-background-color: skyblue;
}