/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-background-color: dodgerblue;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}
.root {
	-fx-background-color: skyblue;
}
